<div id="game"></div>
<div id="orientation"></div>
<div id="text"></div>
<div id="log"></div>
<script src="/javascripts/handlebars.min.js"></script>
<script src="/javascripts/phaser-2.4.4.js"></script>
<script src="/javascripts/gyro.min.js"></script>
<%/*
 	When Socket.IO is used with Express, the /socket.io/ path will
 	serve the proper Socket.IO javascript files used by the browser
*/%>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/common.js"></script>
	<script src="/javascripts/util.js"></script>
	<script src="/javascripts/rock.js"></script>
	<script src="/javascripts/indicator.js"></script>
	<script src="/javascripts/ship.js"></script>
	<script src="/javascripts/boot.js"></script>
	<script src="/javascripts/load.js"></script>
	<script src="/javascripts/menu.js"></script>
	<script src="/javascripts/error.js"></script>
	<script src="/javascripts/host.js"></script>
	<script src="/javascripts/join.js"></script>
	<script src="/javascripts/wait.js"></script>
	<script src="/javascripts/ready.js"></script>
	<script src="/javascripts/play.js"></script>
	<script src="/javascripts/over.js"></script>
	<script src="/javascripts/game.js"></script>
	<script src="/javascripts/socket.js"></script>