<!DOCTYPE HTML>
<html>
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1, IE=9">
		<meta name="format-detection" content="telephone=no">
		<meta name="HandheldFriendly" content="true" />
		<meta name="robots" content="noindex,nofollow" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-mobile-web-app-title" content="Phaser App">
        <!-- Viewport meta tag is critical to have mobile browsers
             actually report correct screen dimensions -->
		<meta name="viewport" content="initial-scale=1 maximum-scale=1 user-scalable=0 minimal-ui" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title><%= (typeof title !== 'undefined') ? title : 'Phaser' %></title>
        <link rel="icon" href="../../favicon.ico">
		<link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <%/* later: bundle all vendor stylesheets into one */%>
        <link rel="stylesheet" href="/stylesheets/main.min.css" />
    </head>

    <body>
        <%- body %>

        <%/* later: bundle all vendor scripts into one */%>
        <script src="/javascripts/jquery-1.11.3.min.js"></script>
        <%/* put all view scripts at the bottom */%>
        <%- script %>
    </body>
</html>