$game-width: 1136px;
$game-height: 640px;
$dark-gray: #111111;
$light-gray: #CCCCCC;
$yellow-green : #e3c665;
$light-yellow : #ffffcc;
$green: #2ECC40;
$red: #FF4136;
$font-size-basic: 20px;
$font-size-large: 30px;
$font-size-title: 36px;
$font-ratio-xsmall: 0.8;
$font-ratio-small: 1;
$font-ratio-medium: 1.2;
$font-ratio-large: 1.5;
body {
	margin: 0;
	background-color: white;
	min-height: 480px;
}

div#orientation {
	margin: 0 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(/images/orientation.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
	background-color: rgb(0, 0, 0);
	z-index: 999;
	display: none;
}

div#text {
	position: fixed;
	left: 0px;
	top: 0px;
	width: $game-width;
	padding-left: 5%;
	background-color: transparent;
	color: $yellow-green;
	font-family: 'Raleway', sans-serif;
	text-shadow: 0 0 3px $dark-gray;
	font-size: $font-size-basic * $font-ratio-xsmall;
	h1 {
		font-size: $font-size-title * $font-ratio-xsmall;
	}
	h2,
	input#code {
		font-size: $font-size-large * $font-ratio-xsmall;
	}
	.indent {
		margin-left: $font-size-title * $font-ratio-xsmall;
	}
	ul.menu li>img {
		margin-right: $font-size-large * $font-ratio-xsmall * 0.5;
		margin-bottom: ($font-size-large * $font-ratio-xsmall - 15) * 0.5;
	}
	@media screen and (min-height: 321px) {
		font-size: $font-size-basic * $font-ratio-small;
		h1 {
			font-size: $font-size-title * $font-ratio-small;
		}
		h2,
		input#code {
			font-size: $font-size-large * $font-ratio-small;
		}
		.indent {
			margin-left: $font-size-title * $font-ratio-small;
		}
		ul.menu li>img {
			margin-right: $font-size-basic * $font-ratio-small * 0.5;
			margin-bottom: ($font-size-basic * $font-ratio-small - 15) * 0.5;
		}
	}
	@media screen and (min-width: 600px) {
		font-size: $font-size-basic * $font-ratio-small;
		h1 {
			font-size: $font-size-title * $font-ratio-small;
		}
		h2,
		input#code {
			font-size: $font-size-large * $font-ratio-small;
		}
		.indent {
			margin-left: $font-size-title * $font-ratio-small;
		}
		ul.menu li>img {
			margin-right: $font-size-basic * $font-ratio-small * 0.5;
			margin-bottom: ($font-size-basic * $font-ratio-small - 15) * 0.5;
		}
	}
	@media screen and (min-width: 800px) {
		font-size: $font-size-basic * $font-ratio-medium;
		h1 {
			font-size: $font-size-title * $font-ratio-medium;
		}
		h2,
		input#code {
			font-size: $font-size-large * $font-ratio-medium;
		}
		.indent {
			margin-left: $font-size-title * $font-ratio-medium;
		}
		ul.menu li>img {
			margin-right: $font-size-basic * $font-ratio-medium * 0.5;
			margin-bottom: ($font-size-basic * $font-ratio-medium - 15) * 0.5;
		}
	}
	@media screen and (min-width: 1000px) {
		font-size: $font-size-basic * $font-ratio-large;
		h1 {
			font-size: $font-size-title * $font-ratio-large;
		}
		h2,
		input#code {
			font-size: $font-size-large * $font-ratio-large;
		}
		.indent {
			margin-left: $font-size-title * $font-ratio-large;
		}
		ul.menu li>img {
			margin-right: $font-size-basic * $font-ratio-large * 0.5;
			margin-bottom: ($font-size-basic * $font-ratio-large - 15) * 0.5;
		}
	}
	ul.menu {
		padding-left: 0px;
		list-style-type: none;
		text-transform: capitalize;
		li {
			margin-bottom: 5px;
			>img {
				width: 16px;
				height: 5px;
				border-radius: 50%;
				-webkit-transition: -webkit-transform .4s ease-in-out;
				transition: transform .4s ease-in-out;
			}
			>a {
				color: inherit;
				text-decoration: none;
				&:hover {
					text-shadow: 0 0 7px $light-gray;
				}
				>span.menu-accel {
					// text-decoration: none;
					// border-bottom: 1px solid;
					color: lighten($yellow-green, 15);
				}
			}
		}
		li:hover>img {
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
	}
	input#code {
		width: 180px;
		font-family: inherit;
		text-shadow: inherit;
		color: inherit;
		background-color: transparent;
		border: none;
		border-bottom: solid 2px $yellow-green;
	}
	div.practice-feedback {
		font-size: 90%;
		padding-top: 20px;
		h3 {
			margin-top: 8px;
			text-transform: capitalize;
		}
		.good {
			color: $green;
		}
		.bad {
			color: $red;
		}
	}
	div.debug-feedback {
		font-size: 50%;
		padding-top: 5px;
		ul {
			list-style-type: none;
			padding-left: 0;
		}
	}
}

div#log {
	position: absolute;
	top: 600;
	left: 40;
	color: lightgreen;
}